body{
    font-family: sans-serif;
}
select,
input[type=submit],
input[type=text],
input[type=number]{
    padding: 8px 12px;
    margin: 10px 0;
}
.container{
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}


/*Rating*/
.rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.rating-stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-right: 4px
}

@media only screen and (max-width:500px) {
    .rating-stars {
        margin-right: 12px
    }
}

.rating-stars.not-voiced:hover label span {
    background-image: url(../images/star.svg)!important
}

.rating-stars.not-voiced label:hover span {
    background-image: url(../images/star-active.svg)!important
}

.rating-stars.not-voiced label:hover~label span {
    background-image: url(../images/star-active.svg)!important
}

.rating-stars input {
    display: none
}

.rating-stars input:checked+label span {
    background-image: url(../images/star-active.svg)
}

.rating-stars input:checked~label span {
    background-image: url(../images/star-active.svg)
}

.rating-stars label {
    padding-right: 8px;
    cursor: pointer
}

.rating-stars__img {
    width: 24px;
    height: 24px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block
}

@media only screen and (max-width:500px) {
    .rating-stars__img {
        width: 32px;
        height: 32px
    }
}

.rating-num {
    color: #eabd45;
    font-size: 20px
}

.rating-result {
    min-height: 35px;
    margin-top: 15px;
}
.text-hint {
    color: #80878e;
    font-size: 14px;
}
.text-hint a{
    color: #6ca6e2;
    cursor: pointer;
}




/*Progress Bar*/
.progress-bar {
    width: 500px;
    max-width: 100%;
    background-color: #555555;
    padding: 3px;
}

.progress-bar-inner {
    position: relative;
    width: 1%;
    height: 20px;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    background: #90ee90;
    box-sizing: border-box;
    background: #90ee90;
    background: -moz-linear-gradient(top, #90ee90 28%, #8fbc8f 100%);
    background: -webkit-linear-gradient(top, #90ee90 28%,#8fbc8f 100%);
    background: linear-gradient(to bottom, #90ee90 28%,#8fbc8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#8fbc8f',GradientType=0 );
    transition: 0.5s;
}
.progress-bar-percentage{
    position: absolute;
    top: 0px;
    right: -25px;
    color: #fff;
    transition: 0.5s
}
.progress-bar-result{
    min-height: 35px;
    margin-top: 5px;
}
